.comment_section_container {
	grid-column-start: 1;
	grid-column-end: end;
}

.comment_section_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0px;
	border-top: 1px solid rgb(202, 202, 202);
	border-bottom: 1px solid rgb(202, 202, 202);
}
.comment_length {
	margin-left: 10px;
	font-size: 24px;
	font-weight: 700;
	font-family: "Lora", serif;
}
.comment_likes_button {
	padding: 8px 24px;
	margin-left: 10px;
	border: 1px black solid;
	border-radius: 50px;
	background-color: white;
	font-size: 16px;
}

.comment_item {
	padding: 18px 0px;
	border-bottom: 1px solid rgb(202, 202, 202);
}

.comment_item_main {
	grid-column-start: 1;
	grid-column-end: 6;
}

.comment_item_username {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 14px;
	font-family: "Lora", serif;
}
.comment_item_body {
	margin-bottom: 14px;
	line-height: 1.6rem;
}
.comment_item_likes {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 14px;
}

@media (min-width: 768px) {
	.comment_section_container {
		grid-column-start: 3;
		grid-column-end: 9;
	}
	.comment_item {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 8px;
	}
	.comment_item_likes {
		text-align: right;
	}
	.comment_item_body {
		margin-bottom: 0px;
	}
}
